.footer {
    padding: 50px 0 32px;
    background: $footer-color;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &-title {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            color: $title-color;
        }

        &-link {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 19px;

            &--social {
                position: relative;
                padding-left: 28px;
            }

            &--social::before {
                content: "";
                position: absolute;
                left: 0;
                width: 16px;
                height: 16px;
            }

            &--message::before {
                top: 1px;
                width: 17px;
                background-image: url("../img/contacts-1.svg");
            }

            &--facebook::before {
                background-image: url("../img/contacts-2.svg");
            }

            &--instagram::before {
                background-image: url("../img/contacts-3.svg");
            }

            &--youtube::before {
                background-image: url("../img/contacts-4.svg");
            }

            &--email::before {
                top: 2px;
                height: 13px;
                background-image: url("../img/contacts-5.svg");
            }
        }

        &:nth-child(1) {
            padding-left: 180px;
            width: 300px;
        }

        &:nth-child(2) {
            width: 140px;
        }

        &:nth-child(3) {
            width: 140px;
        }

        &:nth-child(4) {
            width: 300px;
        }
    }

    &__copy {
        padding-top: 40px;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
}