.photo {
    padding: 80px 0;

    &__title {
        margin-bottom: 42px;
    }

    &__descr {
        position: relative;
        margin-bottom: 56px;
        padding-bottom: 48px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            width: 270px;
            height: 1px;
            background-color: #d0d4d8;
        }
    }

    &__slider {
        margin: 0 auto;
        max-width: 640px;
        filter: drop-shadow(0 2px 24px rgba(0, 0, 0, 0.3));
    }
}

.slick {
    &-arrow {
        position: absolute;
        top: 50%;
        z-index: 5;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: $main-color;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &-prev {
        left: -20px;
    }

    &-next {
        right: -20px;
    }
}

button:not(:disabled) {
    outline: none;
}